@font-face {
    font-family: "TimesNewRoman7";
    src: url(fonts/TimesNRSevenMTStdRegular.otf)
  }

body {
    margin: 0px;
    min-width: 100%;
    min-height: 100%;
    background-image: url(https://jujutsukaisen.jp/images/bg_sub.jpg);
    background-position-x: 50%;
    background-position-y: 10%;
    overflow: auto;
    background-repeat: no-repeat;
    background-size: cover;
}

#main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#logo {
    width: 20%;
}

#title {
    font-family: "TimesNewRoman7";
    font-weight: 300;
    font-size: 40px;
    text-shadow: rgba(0, 183, 255, 0.85) 1px 0 10px;
    text-align: center;
    display: table;
    margin: 0px auto 80px;
    padding: 0 66px;
    position: relative;
    color: #fff;
}

#title::before {
    content: "";
    background: url(https://jujutsukaisen.jp/images/deco01_l.png) no-repeat 0 0 / 100%;
    width: 41px;
    height: 81px;
    position: absolute;
    top: 0;
    left: 0;
}

#title::after {
    content: "";
    background: url(https://jujutsukaisen.jp/images/deco01_r.png) no-repeat 0 0 / 100%;
    width: 41px;
    height: 81px;
    position: absolute;
    top: 0;
    right: 0;
}

.text {
    font-family: "TimesNewRoman7";
    font-weight: 300;
    font-size: 35px;
    text-shadow: rgba(0, 183, 255, 0.85) 1px 0 10px;
    text-align: center;
    display: table;
    margin: 0px auto 80px;
    padding: 0 66px;
    position: relative;
    color: #fff;
    margin-bottom: 10px;
}

#buttons {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    width: 1000px;
    justify-content: center;
}

#buttons > .button {
    font-family: "TimesNewRoman7";
    font-weight: 200;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.522);
    color: white;
    border: dashed white;
    margin-bottom: 10px;
    margin-left: 10px;
    transition: background-color 0.2s ease-in-out, border 0.2s ease-in-out;
}

#buttons > .button:hover {
    background-color: rgba(14, 44, 83, 0.765);
    border: solid white !important;
    cursor: pointer;
}

.button.selected {
    border: solid white !important;
}

#map {
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
    position: relative;
    display: inline-block;
}

.pin-container {
    position: relative;
    top: 0;
    left: 0;
}

.pin {
    position: absolute;
    width: 48px;
    height: 48px;
    transform: translate(-50%, -50%);  /* Center the pin */
    cursor: pointer;
    animation: bobbing 2s infinite ease-in;  /* Apply bobbing animation */
    transition: transform 0.3s ease;  /* Smooth transition for scaling */
}

@keyframes bobbing {
    0% { transform: translate(-50%, -50%) translateY(0); }  /* Starting position */
    50% { transform: translate(-50%, -50%) translateY(-5px); }  /* Move up */
    100% { transform: translate(-50%, -50%) translateY(0); }  /* Move back to start */
}

.pin:hover {
    animation: bobbing 2s infinite ease-in, hovering 0.2s forwards;
}

@keyframes hovering {
    0% { transform: translate(-50%, -50%) scale(1) }
    100% { transform: translate(-50%, -50%) scale(1.2)}
}



/* Modal Styles */
.modal {
    display: none;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; /* Ensure it takes full screen */
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    z-index: 1000;
    overscroll-behavior-y: contain;
    transition: opacity 0.3s ease-in-out, visibility 0.1s ease-in-out;
}

/* Modal content */
.modal-content {
    font-family: "TimesNewRoman7";
    color: white;
    padding: 80px 0;
    width: 1020px;
    height: 90vh;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overscroll-behavior-y: contain;
    overflow: auto;
    scrollbar-width: none; /* Hides the scrollbar in Firefox */
    transition: opacity 0.3s ease-out, transform 0.1s ease-out; /* Smooth transition for both */
}

.modal-content::-webkit-scrollbar {
    width: 0px;  /* Hides the vertical scrollbar */
    height: 0px; /* Hides the horizontal scrollbar */
}

.modal-content::-webkit-scrollbar-thumb {
    background: transparent; /* Make the thumb invisible */
}

.modal-title {
    font-size: 32px;
    text-decoration: underline;
    font-weight: 200;
    text-align: center;
}

.modal-description {
    font-weight: normal;
    font-size: 24px;
    text-align: center;
}

.modal-content img {
    justify-self: center;
    max-width: 70%;  /* Prevent the image from overflowing horizontally */
    height: auto;     /* Keep aspect ratio intact */
    display: block;   /* Prevent inline behavior */
    margin-bottom: 20px; /* Space at the bottom of the image */
}

.modal-arrow {
    font-weight: normal;
    font-size: 24px;
    text-align: center;
}

/* Close button */
.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
}